<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>USERS</h1>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">Id</td>
        <td th:utext="${user.name}">name</td>
        <td th:utext="${user.surname}">surname</td>
        <td><a th:href="@{/user/{id}/edit(id=${user.id})}">Edit</a></td>
        <td>
            <form th:method="POST" th:action="@{/user/delete/{id}(id=${user.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>

</table>
<a th:href="@{/user/new}">create</a>

</body>
</html>